[Desktop Entry]
Name=Trance
Comment=Screensaver applet for COSMIC
Type=Application
Icon=display-symbolic
Exec=trance-applet %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
